<main>
    <div class="top">
        <div class="logo">
            <img src="assets/images/xplore.png" alt="">
            <div class="contact-info">
                <i class="fas fa-map-marker-alt"></i>
                <p>Xplore, 2nd floor, Oyester Uptown Building, Madhapur, Hi-Tech City, 500081.</p>
            </div>
            <div class="contact-info">
                <i class="fas fa-phone-alt"></i>
                <p>1800-890-1324</p>
            </div>
            <div class="contact-info">
                <i class="fas fa-envelope"></i>
                <p>info@xplore.co.in</p>
            </div>
        </div>
        <div class="column">
            <h4>Company</h4>
            <p>About Us</p>
            <p>Team</p>
            <p>News</p>
            <p>Testimonials</p>
            <p>Contact Us</p>
        </div>
        <div class="column">
            <h4>Assessment</h4>
            <p>Aptitude Test</p>
            <p>Technical Test</p>
            <p>English Proficiency Test</p>
            <p>Typing Test</p>
            <p>Video Test</p>
        </div>
        <div class="column">
            <h4>Training</h4>
            <p>Aptitude Test</p>
            <p>Technical Test</p>
            <p>English Proficiency Test</p>
            <p>Typing Test</p>
            <p>Video Test</p>
        </div>
        <div class="column">
            <h4>Products</h4>
            <p>Aptitude Test</p>
            <p>Technical Test</p>
            <p>English Proficiency Test</p>
            <p>Typing Test</p>
            <p>Video Test</p>
        </div>
    </div>
    <div class="bottom">
        
    </div>
</main>
